/* This file created and customized by msdnna. All rights reserved. */
body {
    background-color: #fafafa;
}
@media (max-width: 320px) {
    .h1-responsive {
        font-size: 100%!important;
    }
}
@media (max-width: 576px) {
    .h1-responsive {
        margin-top: 2rem!important;
        font-size: 125%!important;
    }
}
@media (min-width: 576px) {
    .h1-responsive {
        font-size: 128%!important;
    }
}
@media (min-width: 768px) {
    .h1-responsive {
        font-size: 130%!important;
    }
}
@media (max-width: 768px) {
    .mt-xl-5 {
        margin-top: 1rem!important;
    }
}
@media (min-width: 992px) {
    .h1-responsive {
        font-size: 140%!important;
    }
}
@media (max-width: 1200px) {
    .mt-xl-5 {
        margin-top: 1rem!important;
    }
}
@media (min-width: 1200px) {
    .h1-responsive {
        font-size: 150%!important;
    }
}
#btn-create-review {
    bottom: 2.5rem;
    right: 2.5rem;
    cursor: pointer;
    display: block;
    position: fixed;
    z-index: 999;
}
.navbar {
    padding: 0;
    box-shadow: none;
    text-transform: uppercase;
}
.black-filled-color {
    background-color: #000!important;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, .75);
}
.nav-link {
    margin: 0 .3125rem;
    padding: .8125rem 0;
    text-align: center;
    text-shadow: 0 0 1.25rem rgba(0, 0, 0, .5);
    padding-left: .625rem!important;
    padding-right: .625rem!important;
}
.selected-link, .nav-link:hover {
    background-color: #1478c8;
    box-shadow: 0 .625rem 1.25rem -.625rem #1478c8;
}
.site-logo {
    margin: 0 .3125rem;
    box-shadow: 0 .625rem 1.25rem -.625rem #c81414;
}
.h1-custom-ca {
    font-family: "Roboto Light";
}
.btn-custom-ca {
    width: 15.625rem;
    color: #fff!important;
    text-shadow: 0 0 1.25rem rgba(0, 0, 0, .75);
}
.con-map {
    width: 15.625rem;
    height: 11.5625rem;
}
@media (max-width: 320px) {
    .btn-custom-ca {
        width: 15.625rem;
    }
    .con-map {
        width: 15.625rem;
        height: 11.5625rem;
    }
}
@media (min-width: 440px) {
    .btn-custom-ca {
        width: 23.125rem;
    }
    .con-map {
        width: 23.125rem;
        height: 16.875rem;
    }
}
@media (min-width: 560px) {
    .btn-custom-ca {
        width: 31.25rem;
    }
    .con-map {
        width: 31.25rem;
        height: 21.875rem;
    }
}
.white-text {
    color: #1478c8!important;
}
.blue-background {
    background-color: #1478c8!important;
    transition: .75s;
    z-index: 1;
}
.con-page-title {
    font-weight: 400;
}
.con-title {
    font-size: .9375rem;
    color: #000;
    transition: .75s;
    width: 14.375rem;
}
.con-price-row-1 {
    margin-top: 1.5rem;
}
.con-desc {
    font-size: .9375rem;
    color: #1478c8!important;
    transition: .75s;
}
.con-desc-leftr {
    font-size: .9375rem;
    color: #1478c8!important;
    transition: .75s;
}
.con-title-leftr {
    font-size: .9375rem;
    color: #000;
    transition: .75s;
    white-space: nowrap;
}
.con-date-leftr {
    position: absolute;
    left: 16.25rem;
}
.con-text {
    z-index: 2;
}
.col-10 {
    padding: .625rem;
}
.pl-3 {
    padding: 1rem!important;
}
.con-icon {
    position: absolute;
    right: -1.25rem;
    bottom: -1.25rem;
    height: 5.625rem;
    width: 5.625rem;
    max-width: none;
    padding-left: 0!important;
    padding-right: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.125rem;
    z-index: 4;
}
.con-icon-hide {
    position: absolute;
    max-width: none;
    padding-left: 0!important;
    padding-right: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.con-block:hover {
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, .25);
}
.con-block {
    height: 10.9375rem;
    margin: .875rem;
    background-color: #fff;
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    transition: .75s;
}
.con-price {
    font-size: .9375rem;
    color: #fff;
    transition: .75s;
}
.con-desc-row-2 {
    width: 11.875rem;
}
@media (max-width: 992px) {
    .con-price {
        color: #1478c8;
    }
    .con-title, .con-desc, .con-desc-row-2 {
        width: 100%;
    }
    .con-date-leftr {
        position: relative;
        left: 0;
    }
    .con-date-leftr:before {
        content: "\A\A";
        white-space: pre;
    }
    .con-icon-hide {
        display: none;
    }
}
@media (min-width: 992px) {
    .col-xl-3 {
        flex: 0 0 47%;
    }
    .con-date-leftr {
        position: absolute;
        left: 28.75rem;
    }
    .con-icon-hide {
        width: 28.75rem;
        height: 28.75rem;
        right: -26.875rem;
        bottom: -26.875rem;
    }
    .con-block:hover .blue-background {
        animation: iconref .75s ease-out alternate;
        transform: translateY(-9.375rem) translateX(-26.375rem);
    }
    .con-block:hover .con-icon-hide {
        animation: borderref .75s ease-out alternate;
        border-radius: 0;
    }
    @keyframes iconref {
        0% {
            transform: translate(0);
        }
        100% {
            transform: translateX(-13.875rem) translateY(-9.375rem);
            border-radius: 0;
        }
    }
    @keyframes borderref {
        0% {
            border-radius: 50%;
        }
        100% {
            border-radius: 0;
        }
    }
    .con-block:hover .con-desc {
        color: #fff!important;
    }
    .con-block:hover .white-text {
        transition: .75s;
        color: #fff!important;
        text-shadow:    rgb(14, 84, 140) 0 0 0,
                        rgb(15, 88, 148) .0625rem .0625rem 0,
                        rgb(15, 93, 155) .125rem .125rem 0,
                        rgb(16, 98, 163) .1875rem .1875rem 0,
                        rgb(17, 102, 170) .25rem .25rem 0,
                        rgb(18, 107, 178) .3125rem .3125rem 0,
                        rgb(19, 111, 185) .375rem .375rem 0,
                        rgb(19, 116, 193) .4375rem .4375rem 0;
    }
    .con-block:hover .con-title-row-1 {
        transition: .75s;
        transform: translateY(-2.5rem);
    }
    .con-block:hover .con-title-row-2, .con-block:hover .con-title-row-3 {
        transition: .75s;
        transform: translateY(-3.75rem);
    }
    .con-block:hover .con-title-leftr {
        transition: .75s;
        transform: translateX(-28.75rem);
        color: #fff;
    }
    .con-block:hover .con-desc-row-1 {
        transition: .75s;
        transform: translateX(0) translateY(-1.875rem);
    }
    .con-block:hover .con-desc-row-2, .con-block:hover .con-desc-row-3 {
        transition: .75s;
        transform: translateX(0) translateY(-3.125rem);
    }
    .con-block:hover .con-price-row-1 {
        transition: .75s;
        transform: translateY(-1.875rem);
    }
    .con-block:hover .con-price-row-2, .con-block:hover .con-price-row-3 {
        transition: .75s;
        transform: translateY(-2.5rem);
    }
    .con-block:hover .con-desc-leftr {
        transition: .75s;
        transform: translateX(2.125rem) scale(1.2);
        color: #fff!important;
    }
}
@media (min-width: 1200px) {
    .col-xl-3 {
        flex: 0 0 22%;
    }
    .con-icon-hide {
        height: 16.25rem;
        width: 16.25rem;
        right: -14.375rem;
        bottom: -14.375rem;
    }
    .con-date-leftr {
        left: 16.25rem;
    }
    .con-block:hover .blue-background {
        animation: iconref .75s ease-out alternate;
        transform: translateY(-9.375rem) translateX(-13.875rem);
    }
    .con-block:hover .con-icon-hide {
        animation: borderref .75s ease-out alternate;
        border-radius: 0;
    }
    @keyframes iconref {
        0% {
            transform: translate(0);
        }
        100% {
            transform: translateX(-13.875rem) translateY(-9.375rem);
            border-radius: 0;
        }
    }
    @keyframes borderref {
        0% {
            border-radius: 50%;
        }
        100% {
            border-radius: 0;
        }
    }
    .con-block:hover .con-desc {
        color: #fff!important;
    }
    .con-block:hover .white-text {
        transition: .75s;
        color: #fff!important;
        text-shadow:    rgb(14, 84, 140) 0 0 0,
                        rgb(15, 88, 148) .0625rem .0625rem 0,
                        rgb(15, 93, 155) .125rem .125rem 0,
                        rgb(16, 98, 163) .1875rem .1875rem 0,
                        rgb(17, 102, 170) .25rem .25rem 0,
                        rgb(18, 107, 178) .3125rem .3125rem 0,
                        rgb(19, 111, 185) .375rem .375rem 0,
                        rgb(19, 116, 193) .4375rem .4375rem 0;
    }
    .con-block:hover .con-title-row-1 {
        transition: .75s;
        transform: translateY(-2.5rem);
    }
    .con-block:hover .con-title-row-2, .con-block:hover .con-title-row-3 {
        transition: .75s;
        transform: translateY(-3.75rem);
    }
    .con-block:hover .con-title-leftr {
        transition: .75s;
        transform: translateX(-16.25rem);
        color: #fff;
    }
    .con-block:hover .con-desc-row-1 {
        transition: .75s;
        transform: translateX(0) translateY(-1.875rem);
    }
    .con-block:hover .con-desc-row-2, .con-block:hover .con-desc-row-3 {
        transition: .75s;
        transform: translateX(0) translateY(-3.125rem);
    }
    .con-block:hover .con-price-row-1 {
        transition: .75s;
        transform: translateY(-1.875rem);
    }
    .con-block:hover .con-price-row-2, .con-block:hover .con-price-row-3 {
        transition: .75s;
        transform: translateY(-2.5rem);
    }
    .con-block:hover .con-desc-leftr {
        transition: .75s;
        transform: translateX(1.0625rem) scale(1.2);
        color: #fff!important;
    }
}
.modal-header {
    background-color: #1478c8!important;
    box-shadow: none!important;
    padding: .75rem 1rem;
}
.form-control {
    border-radius: 0!important;
}
.btn {
    border-radius: 0;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, .1);
}
.btn:hover {
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, .25);
}
.btn-bottom-outline-primary {
    border-bottom: .125rem solid #1478c8!important;
    color: #1478c8!important;
    background-color: transparent!important;
    transition: .75s;
}
.btn-bottom-outline-danger {
    border-bottom: .125rem solid #c81414!important;
    color: #c81414!important;
    background-color: transparent!important;
    transition: .75s;
}
.btn-bottom-outline-primary:hover {
    background-color: #1478c8!important;
    color: #fff!important;
    transition: .75s;
}
.btn-bottom-outline-danger:hover {
    background-color: #c81414!important;
    color: #fff!important;
    transition: .75s;
}
.btn-bottom-outline-primary:hover .con-fa-icon {
    color: #fff!important;
    transition: .75s;
}
.con-fa-icon {
    color: #1478c8!important;
    transition: .75s;
}
